DATABASE_URL="postgresql://dbusername:password@host:port/databasename?schema=public"
DIRECT_URL="postgresql://dbusername:password@host:port/databasename?schema=public"

PORT=3000

JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret